.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.using-networks {
	margin-top: 30px;
	padding-bottom: 30px;
}

.using-networks .facebook, .using-networks .twitter, .using-networks .google {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	width: 55px;
	padding: 5px 0;
	text-align: center;
	font-size: 2em;
	display: block;
	color: white;
	text-align: center;
	display: inline-block;
}

.using-networks .facebook:before, .using-networks .twitter:before, .using-networks .google:before {
	font-family: 'FontAwesome';
}

.using-networks .google {
	background-color: #cd3d2c;
}
.using-networks .google:before {
	content: '\f0d5';
}
.using-networks .facebook {
	background-color: #495ebd;
}

.using-networks .facebook:before {
	content: '\f09a';
}
