.input-group-addon.upload:after {
	content: '\f093';
	color: black;
	position: absolute;
	top: 50%;
	right: 5px;
	text-align: center;
	line-height: 30px;
	margin-top: -15px;
	font-size: 1.2em;
	vertical-align: middle;
	font-family: 'FontAwesome';
	cursor: pointer;
}
/*.upload {
	width: 50px;
}*/